// Use the susy grid breakpoints we've defined for the project.
@import "variables/breakpoints";

.node-type-catalog-item .pane-node-body {
  margin: 0;
  p {
    margin: 0 0 1em;
  }
  p:last-child {
    margin: 0;
  }
}

span.field--name-field-location,
span.field--name-field-people {
  &:after {
    content: "; ";
    margin-left: -3px;
  }
  &:last-child:after {
    content: "";
  }
}

.vertical-spacer {
  margin: 15px 0;
}

.pane-flag-link.pane-node {
  a {
    background: $button-background;
    width: 130px;
    height: 34px;
    display: table-cell;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

/**
 * Responsive mobile first layout overrides default panels layout.
 */
.node-type-catalog-item .panel-panel {
  width: 100%;
  float: left;
}
.node-type-catalog-item .panel-col-first .inside,
.node-type-catalog-item .panel-col-last .inside {
  margin: 0 0 $vert-spacing-unit;
}
.node-type-catalog-item .panel-col-last {
  margin-top: $vert-spacing-unit*2;
  padding: $vert-spacing-unit*2;
  border-top: 1px solid #ccc;
}

@include at-breakpoint($tab) {
  .node-type-catalog-item .panel-col-first {
    width: 50%;
    .inside {
      margin-right: $horz-spacing-unit/2;
    }
  }
  .node-type-catalog-item .panel-col-last {
    width: 50%;
    margin-top: 0;
    padding: 0;
    border-top: 0;
  }
}
