
$abelpro-regular : 'Abel_ProRegular', 'Arial Narrow', Helvetica, Arial, sans-serif;

$abelpro-bold : 'Abel_ProBold', 'Arial Narrow', Helvetica, Arial, sans-serif;

$open-sans : 'Open Sans', Trebuchet, Verdana, Arial, sans-serif;
