
.bsp-openseadragon
{
  display: block;
  width: 100%;
  height: 500px;
}

.bsp-openseadragon canvas
{
  background-color: #000 !important; /* should be replaced with OpenSeadragon setting */
}

.bsp-openseadragon-highlight
{
  background-color: #F00;
  opacity: 0.5;
}
