// Import the common includes for all files.
@import "base";

/**
 * Override of misc/vertical-tabs-rtl.css.
 */
div.vertical-tabs {
  background: #fff image-url("fc-rtl.png") repeat-y right 0;

  .vertical-tabs-list {
    float: right;
    margin: 0 0 -1px -100%;
  }

  ul {
    li.selected {
      a {
        &,
        &:hover,
        &:focus,
        &:active {
          border-left-color: #fff;
        }
      }
    }
  }

  .vertical-tabs-panes {
    margin: 0 265px 0 0;
    padding: 10px 0 10px 15px;
  }
}
